<div class="container_form">
  <h1>Calcule seu IMC!</h1>

  <div class="box">
    <div class="form_grupo">
      <label for="nome" class="form_label">Nome:</label>
      <input
        type="text"
        id="nome"
        class="form_input"
        name="nome"
        placeholder="Nome"
        [(ngModel)]="nome"
        required
      />
    </div>

    <div class="form_grupo radio_container">
      <label for="rdSexo" class="form_label">Sexo:</label>

      <input
        class="form-check-input"
        type="radio"
        value="Feminino"
        name="sexo"
        [(ngModel)]="sexo"
      />
      <label class="form-check-label form_label">Feminino</label>

      <input
        class="form-check-input"
        type="radio"
        value="Masculino"
        name="sexo"
        [(ngModel)]="sexo"
      />
      <label class="form-check-label form_label">Masculino</label>
    </div>

    <div class="form_grupo">
      <label for="txtPeso" class="form_label">Peso:</label>
      <input
        type="number"
        id="txtPeso"
        class="form_input"
        name="txtPeso"
        placeholder="Ex: 60.0"
        [(ngModel)]="peso"
      />
    </div>

    <div class="form_grupo">
      <label for="txtAltura" class="form_label">Altura:</label>
      <input
        type="text"
        id="txtAltura"
        class="form_input"
        name="txtAltura"
        placeholder="Ex: 1,80"
        [(ngModel)]="altura"
      />
    </div>

    <button
      (click)="calculaImc()"
      type="submit"
      name="Submit"
      class="submit_btn btn btn-primary"
    >
      Avaliar
    </button>

    <div class="form_grupo">
      <textarea
        type="text"
        id="txtDados"
        class="form_input_dados"
        name="txtDados"
        rows="5"
        cols="50"
        readonly
      ></textarea>
    </div>
    <div class="form_grupo resultado">
      <textarea
        id="txtAvaliacao"
        class="form_input_resultado classificacao"
        name="txtAvaliacao"
        rows="2"
        cols="50"
        readonly
      ></textarea>
    </div>
  </div>
</div>
