.container {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic";
    align-items: center;
    background-color: #b5b0cb;
    border-radius: 5px;
    box-shadow: 2px 0px 1.5px 0px #bebbbb;
}

.adicionar {
    margin-top: 15px;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #7f73b7;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: inherit;
    font-size: 20px;
    font-family: "Century Gothic";
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
}

button:hover{
    background-color: #52497c;
    transition: all 0.3s;
}

.input {
    font-size: 16px;
    font-family: inherit;
    padding: 4px 15px;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    width: 70%;
    transition: all 0.3s;
    margin-top: 5px;
    margin-bottom: 10px;
}

.valor {
    width: 60%;
}

.label{
    margin-top: 20px;
    font-size: 20px;
}