<div class="container">
  <h1>Exemplo ngSwitch</h1>
  <h2>Selecione uma cor</h2>

  <div class="opcoes">
    <div>Opções: </div>
    <div>1 - Rosa</div>
    <div>2 - Vermelho</div>
    <div>3 - Azul</div>
    <div>4 - Verde</div>
    <div>5 - Amarelo</div>
    <div>6 - Roxo</div>
    <div>7 - Laranja</div>
  </div>
  

  <input type="number"[(ngModel)]="cor" class="numero">
  <div [ngSwitch]="cor" class="boxCores">
    <p *ngSwitchCase="1" style="background-color: pink">Rosa</p>
    <p *ngSwitchCase="2" style="background-color: red"> Vermelho</p>
    <p *ngSwitchCase="3" style="background-color: blue"> Azul</p>
    <p *ngSwitchCase="4" style="background-color: green"> Verde</p>
    <p *ngSwitchCase="5" style="background-color: yellow"> Amarelo</p>
    <p *ngSwitchCase="6" style="background-color: purple"> Roxo</p>
    <div *ngSwitchCase="7" style="background-color: orange">Laranja</div>
    <p *ngSwitchDefault> Selecione a cor</p>
  </div>
</div>


