<app-jovemdev-title></app-jovemdev-title>
<a routerLink="/exemploBinding" routerLinkActive="linkSelected"
  >ExemploBinding</a
>
<a routerLink="/imc" routerLinkActive="linkSelected">IMC</a>
<a routerLink="/ngClass" routerLinkActive="linkSelected">Ng Class</a>
<a routerLink="/ngFor" routerLinkActive="linkSelected">Ng For</a>
<a routerLink="/ngStyle" routerLinkActive="linkSelected">Ng Style</a>
<a routerLink="/ngModel" routerLinkActive="linkSelected">Ng Model</a>
<a routerLink="/ngSwitch" routerLinkActive="linkSelected">Ng Switch</a>
<a routerLink="/ngIf" routerLinkActive="linkSelected">Ng If</a>
<a routerLink="/exemploPipes" routerLinkActive="linkSelected">Pipes</a>
<a routerLink="/exemploMicroondas" routerLinkActive="linkSelected">Microondas</a>
<a routerLink="/exemploPai->Filho" routerLinkActive="linkSelected">Pai->Filho</a>
<a routerLink="/exemploFilho->Pai" routerLinkActive="linkSelected">Filho->Pai</a>
<a routerLink="/exemploServices" routerLinkActive="linkSelected">Services</a>


<router-outlet></router-outlet>
