header {
  background-color: rgb(206, 171, 177);
  color: white;
  font-size: larger;
  text-align: center;
  padding: 20px;
  //border-top: 1px solid Thistle;
  //border-bottom: 1px solid Thistle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
