
@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');

.container{
    display: flex;

}

button {
    padding: 8px 10px;
    border-radius: 5px;
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    position: relative;
    margin-left: 500px;
    margin-top: 50px;
  }

  .divInstagram{
    background-color: rgb(236, 124, 199);

  }

  .divWhatsApp{
    background-color: rgb(87, 189, 92);

  }

  .divTwitter{
    background-color: rgb(105, 160, 197);

  }

  .divLinkedin{
    background-color: rgb(13, 72, 184);

  }

  .imagem{
    width: 200px;
    margin-left: 700px;
    margin-top: 50px;

  }

  .link{
    margin-left: 700px;
    margin-top: 70px;
  }




/*.divAmarelo{
    background-color: yellow;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
  }
  
  .divVermelho{
    background-color: red;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
  }
  
  button{
    background-color: black;
    font-size: 24px;
    color: gold;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
  }

  .containerPai{
    display: flex;
    align-content: space-between;
  }*/

  